.BeerPage {
  display: flex;
  justify-content: center;
  padding: 4rem 2rem 2rem 2rem;

  &__picture {
    flex: 1;
    padding: 0 1rem;
    text-align: center;
  }

  &__summary {
    flex: 2;
    padding: 0 1rem;
  }

  &__name {
    font-size: 2.2rem;
  }

  &__tagline {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #606060;
  }

  &__firstBrewed {
    font-size: 1.3rem;
    line-height: 1.5;
  }

  &__boilVolume {
    line-height: 1.5;
    font-size: 1.3rem;
  }

  &__description {
    margin: 0 0 1rem 0;
  }


  &__ingredients {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  &__foodPairing {}

  &__footer {
    margin-top: 3rem;
  }


  &__footer-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
    color: blue;
  }
}